{% for item in users %}
<tr>
  <td>{{item.firstname}} {{item.lastname}} </br> {{item.phone_number}} </td>
  
  <td>
    <a href="/media/{{item.image_one}}">
      <img src="/media/{{item.image_one}}" height="150" width="150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
    </a>
  </td>  
  <td>
    <a href="/media/{{item.image_two}}">
      <img src="/media/{{item.image_two}}" height="150" width="150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
    </a>
  </td>
  <td>
    <div class="btn-group-vertical">
      <a type="button" class="btn btn-success" href="{% url 'managing:users' %}?user_id={{item.user.pk}}&status=1">Активировать</a>
      <a type="button" class="btn btn-danger" href="{% url 'managing:users' %}?user_id={{item.user.pk}}&status=0">Удалить</a>
    </div>
  </td>  
</tr>

{% empty %}
<tr>
  <td colspan="4" class="text-center bg-warning">-</td>
</tr>
{% endfor %}

