{% extends 'includes/main.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% load l10n %}
{% block content %}
<header class="bg-while text-white"  id="map">
  
</header>

<footer class="py-1 bg-dark fixed-bottom">
    
      <div class="container">
          <div class="row">
              {% if device is not None%}
              <div class="col-md-8">
                <form method='POST' action="#">
                    {% csrf_token %}
                  <button type="submit" class="btn btn-lg btn-block btn-primary" name="open">Открыть дверь | {{renta.getRemainingBookingTime}}</button>
                </form>
              </div>
            
              <div class="col-md-4 padd">
                <button class="btn btn-lg btn-block btn-secondary" data-toggle="modal" data-target="#infoModal">Информация</button>
              </div>
              {%else%}
              <div class="col-md-12">
                <button class="btn btn-lg btn-block btn-secondary" data-toggle="modal" data-target="#infoModal">Информация</button>
              </div>
              {%endif%}
          </div>
      </div>
  

  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="false" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoModalLabel">Информация об аренде</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h2>{{renta.flat}}</h2>
            <p class="lead">{{renta.flat.hint}} </p>
            <p class="lead">Начало: {{renta.start}}</p>
            <p class="lead">Окончание: {{renta.end}}</p>
            {% if device is not None and device.status is False%}
              <p  class="lead" style="color: red;">Внимание! Связь электронного замка и нашего сервера была потеряна. Если прошло более 2 минут с момента появления этого сообщения, обратитесь к менеджеру.</p>
            {%endif%}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script>

    function changeval()
    {
        $("#daysCount").text($("#id_end").val());

    }

    var map, markers;
    DG.then(function() {
        

        var container = document.createElement('div'),
                    mapBlock = document.getElementById('map'),
                    markers = DG.featureGroup();

        container.id = 'map';


        mapBlock .appendChild(container);

        map = DG.map('map', {
            {% if renta.flat.latitude is not None and renta.flat.longitude is not None%}
                center: [{{renta.flat.latitude|unlocalize}}, {{renta.flat.longitude|unlocalize}}],
            {%else%}
                center: [55.797602, 49.099868],
            {%endif%}
            zoom: 10,
            fullscreenControl: false,
            zoomControl: false,
            width:"100%"
        });

        {% if renta.flat.latitude is not None and renta.flat.longitude is not None%}
        DG.marker([{{renta.flat.latitude|unlocalize}}, {{renta.flat.longitude|unlocalize}}]).addTo(markers).on('click', function () {
            window.location.replace("{% url 'catalog:apartment' renta.flat.pk %}");
        });
        {%endif%}

        markers.addTo(map);

        map.locate({setView: true, watch: false})
            .on('locationfound', function(e) {
                DG.marker([e.latitude, e.longitude]).addTo(map).bindPopup('Вы находитесь здесь!');
            })
            .on('locationerror', function(e) {
                DG.popup()
                    .setLatLng(map.getCenter())
                    .setContent('Доступ к определению местоположения отключён')
                    .openOn(map);
            });

        document.getElementById('slider-range').onclick = showMarkers;

        function showMarkers() {
           console.log($( "#slider-range" ).slider( "values", 0 ) );
        };
    });    
</script>
{% endblock %}