{% for item in booking_reviews %}
<tr>
    <td>
        <a href="{% url 'managing:flat' item.booking.flat.pk %}">{{item.booking.flat}}</a>
    </td>
   <td>
    <a href="{% url 'managing:booking' item.booking.pk %}">{{item.booking}}</a>
    </td>
    <td>
        <a href="{% url 'managing:user' item.booking.rentor.pk %}">{{item.booking.rentor}}</a>
    </td>
   <td>
     {{item.cleanness}}
   </td>
   <td>
     {{item.staff}}
   </td>
  
</tr>
{% empty %}
<tr>
  <td colspan="4" class="text-center bg-warning">-</td>
</tr>
{% endfor %}
