{% extends 'managing/includes/header.html' %}

{% load static %}
{% block javascript %}
<script src="{% static 'managing/js/managers.js' %}"></script>
{% endblock %}
{% block content %}

<section class="contr" id="contr">   
    <div class="container">
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Квартира</h6>
                <span class="text-muted">
                  <a href="{% url 'managing:flat' booking.flat.pk %}">{{booking.flat}}</a> 
                </span>
              </div>
              <span class="text-muted">{{booking.start}} - {{booking.end}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Статус аренды</h6>
                <span class="text-muted">{{booking.get_status_display}}</span>

                {% if booking.status == "waiting_for_capture" and booking.trial_key is not None%}
                <form method='POST' action="#">
                  {% csrf_token %}
                  <button type="submit" name="approve" class="btn btn-primary">Подтвердить</button>
                </form>
                {%endif%}
              </div>
              <span class="text-muted">Стоимость: {{booking.getPrice}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Арендатор</h6>
                <span class="text-muted"><a href="{% url 'managing:user' booking.rentor.pk %}">{{booking.rentor}}</a></span>
              </div>
              <span class="text-muted"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Количество человек</h6>
                <span class="text-muted">{{booking.person_amount}}</span>
              </div>
              <span class="text-muted"></span>
            </li>
            {% if booking.trial_key != None %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
                <h6 class="my-0">Ссылка для пользователя</h6>
                <span class="text-muted">
                    <input type="text" value="https://ewtm.ru{{ booking.get_absolute_url }}" id="renta_{{booking.pk}}">
                </span>
            </div>
            <span class="text-muted"><button onclick="myFunction('{{booking.pk}}')">Копировать</button></span>
            </li>
            {%endif%}
            <!--<li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <span>EXAMPLECODE</span>
              </div>
              <span class="text-success">-$5</span>
            </li>-->
          </ul>

          <h3>Совершенные платежи</h3>
  <table class="table" id="book-table">
    <thead>
      <tr>
        <th>Пользователь</th>
        <th>Аренда</th>
        <th>Тип операции</th>
        <th>Сумма</th>
        <th>Дата</th>
        <th>Стоимость</th>
      </tr>
    </thead>
    <tbody>
      {% include 'trial/includes/transactions_list.html' %}
    </tbody>
  </table>
    </div>
</section>
<script>
function myFunction(id) {
    var copyText = document.getElementById("renta_"+id);
    copyText.select();
    copyText.setSelectionRange(0, 99999)
    document.execCommand("copy");
    alert("Скопировано!");
}
</script>

{% endblock %}